@model AskYourMechanicDon.Core.ViewModels.OrderNumberOrderItemsViewModel

@{ViewBag.Title = "Basket";
    int count = 1;
    decimal gTotal = 0;
}

<table class="table">
    <tr>
        <th>
        </th>
        <th>
            Product Name
        </th>
        <th>
            VIN
        </th>
        <th>
            Your Question
        </th>
        <th>
            Quanity
        </th>
        <th>
            Price
        </th>
        <th>
            Line Total
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.OrderItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Vin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quanity)
            </td>
            <td>
                @String.Format("{0:c}", item.Price)
            </td>
            <td>
                @String.Format("{0:c}", item.Price * item.Quanity)
            </td>
        </tr>
        gTotal = gTotal + item.Price;

    }

    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="grandtotal"><b>Grand total Canadian Dollars $</b><span><b>@gTotal</b></span></td>
    </tr>
</table>
<div class="paypaldiv">
    <form class="paypalform" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_cart">
        <input type="hidden" name="hosted_button_id" value="ENLYF2UB52CTE">
        <input type="hidden" name="upload" value="1">
        <input type="hidden" name="business" value="bmorgan@telusplanet.net">
        <input type="hidden" name="returnurl" value="http://aksyourmechanicdon.com/Basket/ReturnFromPayPal" />
        <input type="hidden" name="return" value="http://aksyourmechanicdon.com/Basket/ReturnFromPayPal" />
        <input type="hidden" name="cancel_return" value="http://aksyourmechanicdon.com/Basket/ReturnFromPayPal" />
        <input type="hidden" name="notify_url" value="http://aksyourmechanicdon.com/Basket/ReturnFromPayPal" />
        <input type="hidden" name="item_number" value="@Model.OrderId" />
        @foreach (var item in Model.OrderItems)
        {
            <input type="hidden" name="item_name_@count" value="@item.ProductName">
            <input type="hidden" name="amount_@count" value="@item.Price">
            <input type="hidden" name="quantity_@count" value="@item.Quanity">
            count++;
        }

        <input type="hidden" name="currency_code" value="CAD">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">

    </form>
</div>
<br />
<a href="#" class="PlaceOrder btn btn-primary pull-right">Pay with PayPal</a>
@section Scripts {

    <script>

        $(function () {

            $("a.PlaceOrder").click(function (e) {
                e.preventDefault();

                var $this = $(this);

                var url = "/Basket/PlaceOrder1";

                $(".ajaxbg").show();

                $.post(url, {}, function (data) {
                    $(".ajaxbg span").text("Thank you. You will now be redirected to paypal.");
                    setTimeout(function () {
                        $('form input[name="submit"]').click();
                    }, 2000);
                });
            });

        });

    </script>
}



































@*<h2>ReviewPlaceOrder</h2>

    <div>
        <h4>OrderNumberOrderItemsViewModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderNumber)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@
