@model AskYourMechanicDon.Core.ViewModels.ProductListViewModel
@{
    ViewBag.Title = "Products";
}


<h1>Products</h1>
<div class="col-md-2">
    <h4>Filter by Category</h4>
    <div class="list-group">
        @Html.ActionLink("All", "Products", null, new { @class = Request["Category"] == null ? "list-group-item active" : "list-group-item" })
        @foreach (var cat in Model.ProductCategories)
        {
            @Html.ActionLink(cat.Category, "Products", new { Category = cat.Category }, new { @class = Request["Category"] == cat.Category ? "list-group-item active" : "list-group-item" })
        }
    </div>
</div>
<div class="col-md-10">
    @foreach (var Item in Model.Products)
    {
    <div class="col-md-4" style="height:600px;padding:10px;margin:10px;border: solid thin whitesmoke">
        <div class="col-md-10">
            <img class="img" style="height:100px" src="~/Content/ProductImages/@Item.Image" />
        </div>
        <div class="col-md-12">
            <strong>@Html.ActionLink(Item.Name, "Details", new { id = Item.Id })</strong>
        </div>
        <div class="col-md-12">
            <h2>@Item.Category</h2>
        </div>
        <div class="col-md-10">
            <h4>Price $@Item.Price</h4>
        </div>
        @if (Request.IsAuthenticated && User.IsInRole("AskUser"))
    {
        <div class="col-md-10">
            <form action="@Url.Action("AddToBasket", "Basket")" method="post">
                <input type="hidden" name="Id" value="@Item.Id">
                <p>
                    VIN: <input type="text" name="Vin">
                </p>
                <p>
                    <strong>Your Question:</strong>
                    <br /><textarea rows="10" name="Question" cols="50">Enter your question</textarea>
                </p>
                <br />
                <input type="submit" class="btn btn-default" value="Add to Basket">
            </form>
        </div>
      }

    </div>
    }
</div>
<div class="cold-md-10 clearfix" />